* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgba(3, 63, 74, 0.589);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.contenedor-form  {
    background: rgba(0,0,0,.7);
    max-width: 600px;
    width: 100%;
    margin: 60px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    padding: 40px;
}
select {
    background-color: black;
    color: #FFF;
    width: 100%;
    margin: 0  0 20px 0;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 4px solid #ff851b;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 133, 27);
   
}
.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #00c7d9;
    border-bottom: 2px solid #00c7d9;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="dni"],
.contenedor-form input[type=""] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 20px;
    font-weight:normal;
    transition: all .5s ease;
}



.contenedor-form input[type="submit"] {
    background: #FF851B;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: rgba(0, 117, 217, 0.7);
}

.contenedor-form .confirmar {
    background: rgba(0, 117, 217, .7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
button {
    background: rgb(15, 15, 15);
    color: white;
    border-radius: 2px;
    width: 100%;
    padding: 10px 0;

}
button:hover{
    background-color: white;
    color: black;
}

.contenedor-form a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

label select {
    display: block;
}

.turno {
 display: block;
 width: 100%;
 padding: 10px;
 display: block;
 align-items: center;
}
img {
    width: 150px;
}
.output {
    display: flex;
    justify-content: center;
    padding: 20px;
}