* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 249, 250);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.contenedor-form  {
    background: white;
    max-width: 600px;
    width: 70%;
    margin: 60px auto;
    border: 4px solid rgb(74, 84, 130);
    color: black;
    position: relative;
    padding: 40px;
    text-align: center;
}
select {
    background-color: white;
    color: black;
    width: 100%;
    margin: 0  0 20px 0;
    border-radius: 5px solid rgb(74, 84, 130);
    padding: 10px;
    border-bottom: 4px solid rgb(74, 84, 130);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(74, 84, 130);
   
}
 .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    transition: all .5s ease;
}
 .toggle span {
    letter-spacing: 1px;
} 

 h2 {
    margin: 0 0 28px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="text"],
.contenedor-form input[type=""] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: white;
    color: black;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid rgb(74, 84, 130);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 20px;
    font-weight:normal;
    transition: all .5s ease;
} 


.contenedor-form input[type="submit"] {
    background:rgb(65,88,208);
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .input {
    background: rgb(74, 84, 130);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
button {
    background: rgb(74, 84, 130);
    color: white;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;

}
button:hover{
    background-color: rgb(50, 57, 96);
    color: white;
}

.contenedor-form a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}

label select {
    display: block;
}
.listado-turnos {
    margin: auto;
    padding: 3px;
    width: 100%;
    text-align: center;
    border:solid 2px white;

}
.turno {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px;
    align-items: center;
    border: solid 2px rgb(57, 64, 110);
}
img {
    width: 100px;
    display: flex;
    flex-direction: column;
}
 .output {
    display: flex;
    justify-content: center;
    padding: 20px;
} 

.material-symbols-outlined {
    cursor: pointer;
}

 

